.showreel__play-hover {
  top: -35px;
  left: -6px;
}

@media (min-width: 770px) { 
  .info__text-skills-container {
    margin-bottom: 45px;
  }

  .tetrisBtn {
    left: calc(50% - 43.7px);
    top: calc(50% - 31px);
  }

  #restartButton {
    top: calc(50% - 31px);
    left: calc(50% - 106.1px);
  }
}